table{
  background-color: transparent !important;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
}


.moye > * {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}
