<div style="background-image: url({{bgimageurl}});
 background-repeat: no-repeat;
background-size: cover;
background-position: top center;
">


  <div class="table-responsive text-center container">
    <table class="table table-striped table-hover table-border table-primary align-middle">
      <thead class="table-light">

        <div class="text-danger text-center h1">Users</div>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>email</th>
          <th>Password</th>
          <th>DoB</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="" *ngFor="let user of allUser ">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.dob }}</td>
          <td><img [src]="user.image" alt="User Image" width="50" height="50"></td>
          <td>
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button" (click)="viewUser(user)">View</a>
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle2" role="button" (click)="viewUser(user)">Edit</a>
          </td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>


  <app-user-info [selectingUser]="selecterUser" (notifyParent)="ngOnInit()"></app-user-info>
</div>
